* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;

}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #1C2C40;
	overflow-x: hidden;
	min-width: 320px;
	font-weight: 400;
}
#gallery
{
	padding: 40px 100px;

}
#gallery h1
{
	text-align: center;
	font-weight: bold;
	padding: 30px 0px;
	font-size: 70px;
}
#gallery ul 
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

#gallery ul li
{
	width: 18%;
	margin-bottom: 40px;
	position: relative;
}
#gallery ul li img
{
	width: 100%;
	display: inline-block;
}
div.content p 
{
	color: #fff;
	font-weight: bold;
    font-size: 15px;
    position: absolute;
    top: 30%;
    left: 3%;
    text-align: center;
    opacity: 0;

}
li:hover div.content p
{
	opacity: 1;
}

